body {
  background-image: url(../../images/library.jpg);
  height: 960px;
  width: 100%;
  background-size: 100% 100%;
}

#screen {
  overflow: auto;
}

#screen div {
  float: center;
}
h1{
  text-align: center;
  color:#4bfc00;
  text-shadow: 4px 0 #ff0505, 0 3px #070707, 3px 0 #070707, 0 3px #FEC551;
  font-size: 12vmin;

  
}

p{
font-size: 4vmin;
color:#57ebf6;
background-color: black;


}

h2{
  text-align: center;
  color: white;
  font-size: 50px;
  width: 600px;
  margin-bottom: 10px;
  color: white;
  background-color: #873C23;
}
h3{
  text-align: center;
  color: white;
  font-size: 4vmin;
  width: 600px;
  margin-bottom: 10px;
  color: white;
  background-color: #873C23;
}
h4{
  text-align: center;
  color: white;
  font-size: 4vmin;
  width: 600px;
  margin-bottom: 10px;
  color: white;
  background-color: #873C23;



CSS for stopwatch
/*body { /* Visual */
  background: black;
}
#container {
background-color: #873C23;
margin: center;

}
#q {
background-color: c#873C23;
font-size: 4vmin;


}
#form {
font-size: 4vmin;


}

#display {
  font-family: monospace;
  width:500px;
  float: center;
  font-size: 80px;
  color: #6304d8;
  margin: center;

  /* Typography */
  text-align: center;

  /* Visual */
  background: black;
}
#questions {
background-color: #873C23;
width: 650px;
align-self: center

}
#wrapper {
  /* Box-model */
  width: 500px;
  float: center;

  /* Positioning */
  margin: 0px auto 0;
}

#buttons {  Typography 
  text-align: center;
  background-color: #CACE63;
  width: 250px;

}

button {
  width: 50px;

  /* Box-model */
  height: 50px;
}

#laps {
  
}
*/
